<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,666},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>1-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,666},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>1-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,666},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>1-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,666},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>10-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,900},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>10-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,822},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>10-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,744},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>10-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,666},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>100dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,723},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>11-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,609},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>11-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,609},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>11-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,609},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>11-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,609},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>12-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,609},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>12-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,926},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>12-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,848},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>12-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,770},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>13-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,692},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>13-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,614},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>13-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>13-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>2-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>2-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>2-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>2-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,552},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>25dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,723},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>3-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,552},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>3-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,552},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>3-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,552},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>3-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>4-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,552},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>4-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,495},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>4-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,495},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>4-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,495},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>5-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,495},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>5-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>5-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,495},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>5-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,438},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>500dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,723},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>5dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,723},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>6-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,438},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>6-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,438},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>6-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,438},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>6-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>7-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,438},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>7-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,381},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>7-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,381},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>7-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,381},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>8-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,381},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>8-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>8-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,381},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>8-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,324},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>9-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,324},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>9-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,324},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>9-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,324},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>9-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,324},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>dealbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,723},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>doublebutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,931},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>facedown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>hitbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,879},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>replaybutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,827},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>splitbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,775},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>standbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,723},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>surface.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1b82e9a516c7b9a2649abffdf179dcd$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
