<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,769},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>1-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,758},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>1-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,696},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>1-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,947},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,696},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>10-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,858},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>10-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,769},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>10-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,858},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>10-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,769},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>11-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,634},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>11-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,680},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>11-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,634},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>11-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,634},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>12-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,947},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>12-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,858},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>12-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,769},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>12-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,680},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>13-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,591},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>13-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,572},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>13-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,572},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>13-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,572},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>2-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,510},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>2-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,510},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>2-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,510},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>2-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,947},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>3-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,858},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>3-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,769},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>3-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,680},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>3-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,510},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>4-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,591},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>4-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>4-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>4-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>5-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>5-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>5-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>5-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,502},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>6-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,448},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>6-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,448},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>6-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,448},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>6-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,448},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>7-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>7-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,413},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>7-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,386},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>7-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,386},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>8-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,386},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>8-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,386},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>8-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>8-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,324},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>9-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,324},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>9-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,324},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>9-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,324},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>9-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,324},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>facedown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>hitbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,858},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>replaybutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,619},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>standbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,572},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>surface.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c399be1fcdda76f5c3818dfea0cc14b$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
