<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1194},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>1-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1194},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>1-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1928},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>1-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1776},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>10-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1624},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>10-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1472},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>10-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1194},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>10-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1320},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>100dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1396},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>11-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1928},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>11-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1776},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>11-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1624},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>11-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1472},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>12-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1194},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>12-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1320},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>12-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>12-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1776},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>13-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1624},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>13-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>13-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>13-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>2-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1168},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>2-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1084},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>2-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1084},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>2-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1084},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>25dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1412},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>3-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1084},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>3-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>3-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1084},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>3-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1016},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>4-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,974},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>4-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,974},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>4-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,974},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>4-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,974},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>5-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>5-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,974},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>5-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,864},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>5-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,864},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>500dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1378},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>5dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1304},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>6-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,864},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>6-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,864},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>6-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,864},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>6-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>7-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,864},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>7-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,754},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>7-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,754},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>7-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,754},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>8-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,754},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>8-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>8-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,754},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>8-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,644},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>9-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,644},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>9-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,644},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>9-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,644},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>9-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,644},{108,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,150}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>dealbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1304},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>doublebutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1304},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>facedown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>hitbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1304},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>replaybutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1320},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>splitbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1286},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>standbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1194},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>surface.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6819c858b5e00bb2aa1f5c3c1ac389af$</string>
            <key>textureFileName</key>
            <string>cards-hd.png</string>
        </dict>
    </dict>
</plist>
