<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1694},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>1-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1620},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>1-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1498},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>1-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1498},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1869},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>10-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1694},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>10-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1498},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>10-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1869},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>10-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1694},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>100dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1622},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>11-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1519},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>11-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1376},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>11-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1376},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>11-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1376},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>12-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1344},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>12-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1254},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>12-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1254},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>12-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1254},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>13-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1869},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>13-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1694},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>13-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1519},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>13-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1344},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>2-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1869},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>2-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1694},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>2-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1519},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>2-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1344},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>25dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1590},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>3-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1169},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>3-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1132},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>3-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1132},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>3-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1132},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>4-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1132},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>4-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>4-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1010},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>4-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1010},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>5-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1010},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>5-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1010},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>5-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>5-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,994},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>500dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1530},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>5dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1498},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>6-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,888},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>6-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,888},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>6-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,888},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>6-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,888},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>7-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>7-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,819},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>7-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,766},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>7-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,766},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>8-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,766},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>8-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,766},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>8-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>8-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,644},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>9-clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,644},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>9-diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,644},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>9-hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,644},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>9-spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,644},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>facedown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{120,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,173}</string>
            </dict>
            <key>hitbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1438},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>replaybutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1346},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>standbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1254},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>surface.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e615b9a2ec13e9848648caf5851f9bc$</string>
            <key>textureFileName</key>
            <string>cards-hd.png</string>
        </dict>
    </dict>
</plist>
